<div class="popup {{ css_class }} center-grid" id="popupBase">
  <div class="popup-wrapper" id="popupContentWrapper">
    <div class="popup-content" id="popupContent"></div>

    <div class="popup-controls">

      <button class="close-popup button popup-btn">
        <i class="fa-solid fa-light fa-times-circle"></i> Cancel
      </button>

      <button class="confirm button popup-btn" id="popupConfirm">
        <i class="fa-solid fa-light fa-check-circle"></i> Confirm
      </button>

    </div>
  </div>
</div>
