{#The content block form. Used by ajax when saving a content block and rendering the returned form.#}
<form action="{% url 'content_blocks:content_block_save' content_block.id %}"
      method="post"
      enctype="multipart/form-data"
      class="cb-form" id="cb_form_{{ content_block.id }}"
      data-target="#cb_form_wrapper_{{ content_block.id }}"
      data-btn="#save_{{ content_block.id }}"
>
  <div class="title-bar clearfix">
    {% include 'content_blocks/editor/partials/content_block_form_controls.html' %}

    <div class="fl">
      <div class="field-wrapper title fl" id="title_{{ content_block.id }}">
        <h2>{{ content_block.content_block_template }} #{{ content_block.id }}</h2>
      </div>

      <div class="field-wrapper fl grid grid-1-2 gap-x">
        <label for="id_{{ form.css_class.html_name }}" class="{{ form.css_class.html_name }} pos-rel">
          {{ form.css_class.label }}:
          {% if form.css_class.help_text %}
            <i class="fa-solid fa-question-circle tooltip help-text pos-abs" title="{{ form.css_class.help_text }}"></i>
          {% endif %}
        </label>

        <div class="field">
          {{ form.css_class }}
        </div>
      </div>
    </div>
  </div>

  <div class="fields grid grid-1-1-1-1 gap expander expander_{{ content_block.id }}" data-max-cols="4">
    {% for field in form %}
      {% if field.html_name != 'css_class' %}
        <div class="field-wrapper grid grid-1-2 gap-x {{ field.field.cb_field.width_css_class }} {{ field.field.cb_field.height_css_class }} {{ field.field.cb_field.field_type|slugify }} {% firstof field.field.widget.input_type "textarea" %} {{ field.field.cb_field.template_field.css_class }}">
          {% include field.field.cb_field.template_name %}
        </div>

      {% endif %}
    {% endfor %}
  </div>
</form>
